
body {
  margin: 0;
  padding: 10px 15px;
  background-color: #1D3F48;
  color: #ECF5F7;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

* {
  box-sizing: border-box;
  &:focus {outline: none;}
}

input,
select,
button {
  &:focus {
    outline: none;
  }
}

input,
button {
  margin: 0;
  border: 0;
  outline: none;
}

select,
button {
  &:hover {
    cursor: pointer;
  }
}

.icon {
  transition: 100ms color;
}

th,
td {
  background-color: #1D3F48;
}

/* total width */
scrollbar-width: 8px;
scrollbar-height: 8px;
::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #26525E;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #2A5C69;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none
}
